## Load in data

In [17]:
# * LIBRARIES
library(dplyr)
library(ggplot2)
library(broom)

# * LOAD IN DATA
rappers <- read.csv("../data/rappers.csv")

This chunk is adding in useful columns. *Don't worry about being able to write a function.*

In [19]:
# * DON'T WORRY ABOUT THIS PART :D
height_to_decimal <- function(this_height) {
    numeric <- sapply(strsplit(gsub("\"", "", as.character(this_height)), "\'"), as.numeric)
    numeric[1] + (numeric[2] / 12)
}
height_to_decimal <- Vectorize(height_to_decimal, vectorize.args="this_height")

# * WORRY ABOUT THIS PART
# * USING MUTATE TO ADD USEFUL VALUES
rappers <- rappers %>% mutate(height_decimal=as.numeric(height_to_decimal(height)))
rappers <- rappers %>% mutate(age=2019-birth_year,
                              active=2019-start_year)
head(rappers)

  artist_name    legal_name         birth_year origin     net_worth start_year
1 Nicki-Minaj    Onika-Maraj        1982       New-York    75       2004
2 Jay-Z          Shawn-Carter       1969       New-York   900       1986
3 Eminem         Marshall-Mathers   1972       Missouri   190       1988
4 Kendrick-Lamar Kendrick-Duckworth 1987       California  45       2003
5 Logic          Robert-Hall        1990       Maryland    10       2009
6 E-40           Earl-Stevens       1967       California  10       1986
  deceased height height_decimal age active
1 FALSE    5'2"   5.166667       37  15
2 FALSE    6'2"   6.166667       50  33
3 FALSE    5'8"   5.666667       47  31
4 FALSE    5'6"   5.500000       32  16
5 FALSE    5'9"   5.750000       29  10
6 FALSE    6'1"   6.083333       52  33

## Working the categorical data

I'm going to make a **contingency table** or a **two-way** table.

In [26]:
library(dplyr)

In [44]:
cat_subset <- rappers %>% filter(origin %in% c("New-York", "California")) %>% select(artist_name, origin, active)
cat_subset <- cat_subset %>% mutate(vet=active>mean(active))
head(cat_subset)

  artist_name    origin     active vet
1 Nicki-Minaj    New-York   15     FALSE
2 Jay-Z          New-York   33      TRUE
3 Kendrick-Lamar California 16     FALSE
4 E-40           California 33      TRUE
5 Nas            New-York   28      TRUE
6 Jadakiss       New-York   28      TRUE

In [51]:
contingency_table <- table(as.character(cat_subset$origin), cat_subset$vet)
contingency_table

             FALSE TRUE
  California     6   10
  New-York      10   12

We can visualize categorical variables by making a **dodged bar plot**.

In [ ]:
ggplot(cat_subset, aes(x=origin, fill=vet)) +
    geom_bar(position="dodge") +
    ggtitle("Counts of Rap Veterans in CA and NY")